body {
    background: linear-gradient(90deg,#535cd5, #7a41b7, #683bc7);
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.card {
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
}
.form-control-lg {
    height: calc(1.5em + 1rem + 2px);
}
.btn-primary {
    background-color: #dd4b39;
}
.btn-primary.btn-facebook {
    background-color: #3b5998;
}