{% extends "RepoAnalysisApp/ScanSession/base.html" %}
{% block card_title %}
<h1 style="text-align: center; color: #4B0082;">Add a new Repository for {{ scan_session }}</h1>
{% endblock %}
{% block content %}
<html>
   <head>
      <link href="{% static 'css/repo.css'%}" rel="stylesheet">
   </head>
</html>
<form id="repositoryForm" method="post">
   {% csrf_token %}
   <div class="form-group">
      <div class="form-group">
         {{ form.repo_name}}
      </div>
      <div class="form-group">
         {{ form.url_name}}
      </div>
   </div>
   <a type="button" class="btn btn-danger" href="{% url 'scan' scan_session %}">Cancel</a>
   <input type="submit" class="btn btn-success" name="submit" id="generateReportBtn" value="Validate" disabled>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   const repositoryUrlInput = document.getElementById('{{ form.url_name.id_for_label }}');
   const generateReportBtn = document.getElementById('generateReportBtn');
   repositoryUrlInput.addEventListener('input', function() {
       const isValidUrl = validateRepositoryUrl(repositoryUrlInput.value);
       generateReportBtn.disabled = !isValidUrl;
       generateReportBtn.value = isValidUrl ? 'Validate' : 'Submit';
   });
   function validateRepositoryUrl(url) {
       const regex = /^(https?:\/\/)?(www\.)?github\.com\/[^\s\/]+\/[^\s\/]+$/;
       return regex.test(url);
   }
   if (repositoryUrlInput.value) {
       generateReportBtn.disabled = !validateRepositoryUrl(repositoryUrlInput.value);
       generateReportBtn.value = generateReportBtn.disabled ? 'Submit' : 'Validate';
   }
   let isFormSubmitted = false;
   $('#repositoryForm').on('submit', function(e) {
       if (!isFormSubmitted) {
           e.preventDefault();
           const repositoryUrl = repositoryUrlInput.value;
           const isValidUrl = validateRepositoryUrl(repositoryUrl);
           if (isValidUrl) {
               checkRepositoryExists(repositoryUrl);
           } else {
               alert('Invalid repository URL');
           }
       } else {
           isFormSubmitted = false;
       }
   });
   function checkRepositoryExists(repositoryUrl) {
       const strippedUrl = repositoryUrl.replace(/^(https?:\/\/)?(www\.)?github\.com\//, '');
       const apiUrl = `https://api.github.com/repos/${strippedUrl}`;
       $.ajax({
           url: apiUrl,
           type: 'GET',
           success: function(response) {
               console.log('Repository exists:', repositoryUrl);
               generateReportBtn.disabled = false;
               generateReportBtn.value = 'Submit';
               $('#repositoryForm').submit();
               isFormSubmitted = true;
           },
           error: function(xhr, status, error) {
               console.log('Repository does not exist:', repositoryUrl);
               generateReportBtn.value = 'Validate';
               alert('The repository does not exist.');
           }
       });
   }
</script>
{% endblock %}