{% extends "RepoAnalysisApp/ScanSession/base.html" %}
{% block card_title %}
<h1 style="text-align: center; color: #4B0082;">Add a new Repository for {{ scan_session }}</h1>
{% endblock %}
{% block content %}
<style>
   body {
   background-color: #FAFAFA;
   }
   .form-group {
   margin: 20px 0;
   }
   .form-group input {
   width: 100%;
   padding: 10px;
   border: 1px solid #DDD;
   border-radius: 4px;
   }
   .btn {
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   margin: 10px;
   cursor: pointer;
   }
   .btn-danger {
   background-color: #DC3545;
   color: white;
   }
   .btn-success {
   background-color: #28A745;
   color: white;
   }
   #generateReportBtn:disabled {
   background-color: #CCC;
   }
</style>
<form id="repositoryForm" method="post">
   {% csrf_token %}
   <div class="form-group">
      <div class="form-group">
         {{ form.repo_name}}
      </div>
      <div class="form-group">
         {{ form.url_name}}
      </div>
   </div>
   <a type="button" class="btn btn-danger" href="{% url 'scan' scan_session %}">Cancel</a>
   <input type="submit" class="btn btn-success" name="submit" id="generateReportBtn" value="Validate" disabled>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   const repositoryUrlInput = document.getElementById('url_name');
   const generateReportBtn = document.getElementById('generateReportBtn');
   let isFormSubmitted = false;
   repositoryUrlInput.addEventListener('input', function() {
       const isValidUrl = validateRepositoryUrl(repositoryUrlInput.value);
       generateReportBtn.disabled = !isValidUrl;
       generateReportBtn.value = isValidUrl ? 'Validate' : 'Submit';
   });
   function validateRepositoryUrl(url) {
       const regex = /^(https?:\/\/)?(www\.)?github\.com\/[^\s\/]+\/[^\s\/]+$/;
       return regex.test(url);
   }
   $('#repositoryForm').on('submit', function(e) {
       if (!isFormSubmitted) {
           e.preventDefault();
           const repositoryUrl = repositoryUrlInput.value;
           const isValidUrl = validateRepositoryUrl(repositoryUrl);
           if (isValidUrl) {
               checkRepositoryExists(repositoryUrl);
           } else {
               alert('Invalid repository URL');
           }
       } else {
           isFormSubmitted = false;
       }
   });
   function checkRepositoryExists(repositoryUrl) {
       const strippedUrl = repositoryUrl.replace(/^(https?:\/\/)?(www\.)?github\.com\//, '');
       const apiUrl = `https://api.github.com/repos/${strippedUrl}`;
       $.ajax({
           url: apiUrl,
           type: 'GET',
           success: function(response) {
               console.log('Repository exists:', repositoryUrl);
               generateReportBtn.disabled = false;
               generateReportBtn.value = 'Submit';
               $('#repositoryForm').submit();
               isFormSubmitted = true;
           },
           error: function(xhr, status, error) {
               console.log('Repository does not exist:', repositoryUrl);
               generateReportBtn.value = 'Validate';
               alert('The repository does not exist.');
           }
       });
   }
</script>
{% endblock %}