body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: #f4f7fa;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3f51b5;
    padding: 20px 0;
}
.header a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
h1 {
    margin-bottom: 20px;
    color: #3f51b5;
}
p {
    color: #555;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3f51b5;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.message {
    margin-bottom: 10px;
}
.team-members {
    display: flex;
    overflow-x: scroll;
    width: 80%; /* adjust as needed */
    margin: 0 auto;
}
.member {
    flex: 0 0 auto;
    width: 200px; /* adjust as needed */
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    padding: 10px;
}
.member img {
    width: 100% !important; /* specify a width */
    height: 200px !important; /* specify a height */
    /* object-fit: cover; makes sure the image keeps aspect ratio */
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3f51b5;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.back-button {
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    font-weight: 1000;
    font-size: 20px;
    padding: 0;
    margin: 0 30px;
    text-decoration: none;
    position: absolute;
    left: 0;
}