{% extends "RepoAnalysisApp/Semester/base.html" %}
{% block card_title %}
<h1 style="text-align: center; color: #4B0082;">Add a new Repository for {{ scan_session }}</h1>
{% endblock %}
{% load static %}
{% block content %}
<html>
   <head>
      <link href="{% static 'css/repo.css'%}" rel="stylesheet">
   </head>
</html>
<form id="repositoryForm" method="post">
   {% csrf_token %}
   <div class="form-group">
      <div class="form-group">
         {{ form.repo_name}}
      </div>
      <div class="form-group">
         {{ form.url_name}}
      </div>
   </div>
   <a type="button" class="btn btn-danger" href="{% url 'scan' scan_session %}">Cancel</a>
   <input type="submit" class="btn btn-success" name="submit" id="generateReportBtn" value="Validate" disabled>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    window.url_name_id = "{{ form.url_name.id_for_label }}";
</script>
<script src="{% static 'js/repo.js' %}"></script>
{% endblock %}