{% extends "RepoAnalysisApp/Semester/base.html" %}
{% load static %}
{% block card_title %}Edit Scan Session{% endblock %}
{% block content %}
<form id="repositoryForm" method="post">
   {% csrf_token %}
   {{ form.title }}
   <div class="form-group">
      <div class="form-group">
         {{ form.repo_name}}
      </div>
      <div class="form-group">
         {{ form.url_name}}
      </div>
   </div>
   <a type="button" class="btn btn-danger" href="{% url 'scan' scan_session %}">Cancel</a>
   <input type="submit" class="btn btn-success" name="submit" id="generateReportBtn" value="Validate" {% if form.url_name.value %}enabled{% else %}disabled{% endif %}>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   window.url_name_id = "{{ form.url_name.id_for_label }}";
</script>
<script src="{% static 'js/repo.js' %}"></script>
{% endblock %}