<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Github Repository Analysis</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="{% static 'css/about.css'%}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <button class="back-button" onclick="history.back()">&#8249; back</button>
        <a href="{% url 'home'%}">Home</a>
        <a href="{% url 'logout'%}">Logout</a>
        <a href="admin/">Admin</a>
    </div>
    <h1>Github Repository Analysis</h1>
    <p>This project is designed for MET 673 and allows professor in analyzing github repository activities 
    intuitively.</p>
    Team members:
    <div class="team-members">
        <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'RepoAnalysisApp/images/Sashank Varma Rudraraju1071.jpg' %}" alt="Sashank Varma Rudraraju">
            <h3>Sashank Varma</h3>
            <p>Product Manager</p>
        </div>
        <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'RepoAnalysisApp/images/Avatar (1).png' %}" alt="Giuseppe Guarino">
            <h3>Giuseppe Guarino</h3>
            <p>Configuration Manager</p>
        </div>
        <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'RepoAnalysisApp/images/giri.jpg' %}" alt="Giri Dhawan">
            <h3>Giri Dhawan</h3>
            <p>Resource Engineer</p>
        </div>
        <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'RepoAnalysisApp/images/sahithi.png' %}" alt="Sahithi">
            <h3>Sahithi</h3>
            <p>Design</p>
        </div>
        
        <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'RepoAnalysisApp/images/Screenshot 2023-07-17 at 11.44.09 PM.png' %}" alt="Heng Lu">
            <h3>Heng Lu</h3>
            <p>UI/UX</p>
        </div>
        <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'RepoAnalysisApp/images/_MG_0542-1.jpg' %}" alt="Tanya Bisht">
            <h3>Tanya Bisht</h3>
            <p>Test</p>
        </div>
    </div>
</body>
<footer>
</footer>
</html>