<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <title>Github Repository Analysis</title>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
      <link href="{% static 'css/about.css' %}" rel="stylesheet">
   </head>
   <body>
      <div class="header">
         <button class="back-button" onclick="history.back()">&#8249; back</button>
         <a href="{% url 'home' %}">Home</a>
         <a href="{% url 'logout' %}">Logout</a>
         <a href="admin/">Admin</a>
      </div>
      <h1>Github Repository Analysis</h1>
      <p>This project is specifically crafted for MET CS673 and enables professors to intuitively analyze GitHub repository activities.</p>
      Team members:
      <div class="team-members">
         <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'images/sashank.jpg' %}" alt="Sashank Varma Rudraraju">
            <h3>Sashank Varma</h3>
            <p>Product Manager</p>
            <p><a href="https://github.com/sashankvarma2000" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/sashank-varma-rudraraju" target="_blank">LinkedIn</a></p>
         </div>
         <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'images/giuseppe.jpg' %}" alt="Giuseppe Guarino">
            <h3>Giuseppe Guarino</h3>
            <p>Configuration Manager</p>
            <p><a href="https://github.com/GGuarino88" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/" target="_blank">LinkedIn</a></p>
         </div>
         <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'images/giri.jpg' %}" alt="Giri Dhawan">
            <h3>Giri Dhawan</h3>
            <p>Resource Engineer</p>
            <p><a href="https://github.com/girikMET" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/giri-dhawan-a53323235" target="_blank">LinkedIn</a></p>
         </div>
         <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'images/sahithi.jpg' %}" alt="Sahithi">
            <h3>Sahithi</h3>
            <p>Designing</p>
            <p><a href="https://github.com/Sahithi0301" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/sahithi-arekatla" target="_blank">LinkedIn</a></p>
         </div>
         <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'images/heng.jpg' %}" alt="Heng Lu">
            <h3>Heng Lu</h3>
            <p>UI/UX</p>
            <p><a href="https://github.com/explodeduser" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/heng-lu-97172824b" target="_blank">LinkedIn</a></p>
         </div>
         <div class="member">
            <img style="width: 100% !important; height: 220px !important;" src="{% static 'images/tanya.jpg' %}" alt="Tanya Bisht">
            <h3>Tanya Bisht</h3>
            <p>Testing</p>
            <p><a href="https://github.com/tanyab99" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/tanya-bisht" target="_blank">LinkedIn</a></p>
         </div>
      </div>
   </body>
   <footer>© 2023 GitHub Repository Analyzer. All rights reserved by BU MET CS673 Summer 2023 Team 1.</footer>
</html>