<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>GitHub Repository Analysis</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <button class="back-button" onclick="history.back()">&#8592;</button>
        <a href="{% url 'home'%}">Home</a>
        <a href="{% url 'about'%}">About</a>
        <!-- <a href="{% url 'login'%}">Login</a> -->
        <a href="{% url 'logout'%}">Logout</a>
    </div>
    <h1>GitHub Repository Analysis</h1>
    {%block content%}
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <a type="button" class="btn btn-success mb-3" href="{% url 'scan-create' %} ">Create New Session</a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Session</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for data in mydata %}
                <tr>
                    <td>{{ data.title }}</td>
                    <td>
                        <form action="{% url 'scan' data.title %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">Enter</button>
                        </form>
                        <a class="btn btn-warning btn-sm" href="{% url 'scan-edit' data.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'scan-delete' data.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {%endblock%}
</body>
<footer>
    {% for message in messages %}
    <div class="message {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</footer>
</html>