<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <title>GitHub Repository Analysis</title>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
      <link href="{% static 'css/index.css'%}" rel="stylesheet">
   </head>
   <body>
      {%block content%}
      <div class="header">
         <a href="{% url 'home' %}" class="back-button" style="font-size: 20px; text-decoration: none; display: inline-block; padding: 10px; color: #fff; background-color: #3F51B5; border: none; border-radius: 5px;">&#8249; back</a>
         <a href="{% url 'home'%}">Home</a>
         <a href="{% url 'about'%}">About</a>
         <a href="{% url 'logout'%}">Logout</a>
      </div>
      <div class="content-body" style="padding-top: 100px; padding-bottom: 100px; flex-grow: 1; overflow: auto; width: 100%;">
         <h1>GitHub Repository Analysis</h1>
         <h3>Welcome to your Semesters! </h3>
         <p> To get started, create a new Semester and add your desired Projects. 
            Once you've added all of your Projects, navigate to the 'Generate Reports' 
            page linked in your session. 
         </p>
         <div class="card">
            <div class="card-body">
               <div class="d-flex justify-content-end">
                  <a type="button" class="btn btn-success mb-3" href="{% url 'semester-create' %} ">Create New Semester</a>
               </div>
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">Semester</th>
                        <th scope="col" class="actions-header">Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for data in mydata %}
                     <tr>
                        <td>{{ data.title }}</td>
                        <td class="action-buttons">
                           <form action="{% url 'scan' data.title %}" method="POST" style="display: inline;">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-primary btn-sm">Enter</button>
                           </form>
                           <a class="btn btn-warning btn-sm" href="{% url 'semester-edit' data.id %}">Edit</a>
                           <a class="btn btn-danger btn-sm" href="{% url 'semester-delete' data.id %}">Delete</a>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      {%endblock%}
   </body>
   <footer>
      {% for message in messages %}
      <div class="message {{ message.tags }}">
         {{ message }}
      </div>
      {% endfor %}
      © 2023 GitHub Repository Analyzer. All rights reserved by BU MET CS673 Summer 2023 Team 1.
   </footer>
</html>