{% extends 'RepoAnalysisApp/index.html' %}
{% block content %}
{{ scan_session }}
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <a type="button" class="btn btn-success mb-3" href="{% url 'repo-create' scan_session %}">Add a new Repository</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Repo Name</th>
                <th scope="col">URL</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for repo in user_scanned_repos %}
            <tr>
                <td>{{ repo.name }}</td>
                <td>{{ repo.url_name }}</td>
                <td>
                    <form action={% url 'analyze' scan_session repo.name %} method="POST">
                        {% csrf_token %}
                        <div id="repositoryInput" class="form-group">
                            <input type="submit" class="btn btn-primary" name="submit" value="Generate Report">
                            <input type="hidden" class="form-control" name="repository_url" value="{{ repo.url_name }}">
                            <input type="hidden" name="input_method" value="repository">
                        </div>
                    </form>
                    <a class="btn btn-warning btn-sm" href="{% url 'repo-edit' scan_session repo.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'repo-delete' scan_session repo.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="input_method" id="repositoryRadio" value="repository" checked onclick="toggleForm()">
    <label class="form-check-label" for="repositoryRadio">Using GitHub Repository</label>
</div>
<form action="/upload" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="fileInput" class="form-group" style="display: none;">
        <input type="file" class="form-control-file" name="file">
        <input type="submit" class="btn btn-primary mt-2" name="submit" value="Upload and Generate Report">
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const repositoryUrlInput = document.getElementById('repositoryUrlInput');
    const generateReportBtn = document.getElementById('generateReportBtn');
    let isFormSubmitted = false;
    repositoryUrlInput.addEventListener('input', function() {
        const isValidUrl = validateRepositoryUrl(repositoryUrlInput.value);
        generateReportBtn.disabled = !isValidUrl;
        generateReportBtn.value = isValidUrl ? 'Validate' : 'Generate Report';
    });
    function validateRepositoryUrl(url) {
        const regex = /^(https?:\/\/)?(www\.)?github\.com\/[^\s\/]+\/[^\s\/]+$/;
        return regex.test(url);
    }
    $('#repositoryForm').on('submit', function(e) {
        if (!isFormSubmitted) {
            e.preventDefault();
            const repositoryUrl = repositoryUrlInput.value;
            checkRepositoryExists(repositoryUrl);
        } else {
            isFormSubmitted = false;
        }
    });
    function checkRepositoryExists(repositoryUrl) {
        const strippedUrl = repositoryUrl.replace(/^(https?:\/\/)?(www\.)?github\.com\//, '');
        const apiUrl = `https://api.github.com/repos/${strippedUrl}`;
        $.ajax({
            url: apiUrl,
            type: 'GET',
            success: function(response) {
                console.log('Repository exists:', repositoryUrl);
                generateReportBtn.disabled = false;
                generateReportBtn.value = 'Generate Report';
                $('#repositoryForm').submit();
                isFormSubmitted = true;
            },
            error: function(xhr, status, error) {
                console.log('Repository does not exist:', repositoryUrl);
                generateReportBtn.value = 'Validate';
                alert('The repository does not exist.');
            }
        });
    }
</script>
{% endblock %}
