{%extends 'RepoAnalysisApp/index.html' %}
{%block content%}
{{scan_session}}
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="input_method" id="repositoryRadio" value="repository" checked onclick="toggleForm()">
    <label class="form-check-label" for="repositoryRadio">Using GitHub Repository</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="input_method" id="fileRadio" value="txt_file" onclick="toggleForm()">
    <label class="form-check-label" for="fileRadio">Using TXT File contains Group of Repositories</label>
</div>
</div>
<form action={% url 'analyze' scan_session %} method="POST">
    {% csrf_token %}
    <div id="repositoryInput" class="form-group">
        <input type="text" class="form-control" name="repository_url" placeholder="Enter GitHub repository URL" required>
        <input type="submit" class="btn btn-primary" name="submit" value="Generate Report">
        <input type="hidden" name="input_method" value="repository">
    </div>
</form>
<form action="/upload" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="fileInput" class="form-group" style="display: none;">
        <input type="file" class="form-control-file" name="file">
        <input type="submit" class="btn btn-primary mt-2" name="submit" value="Upload and Generate Report">
    </div>
</form>
{%endblock%}