{% extends 'RepoAnalysisApp/index.html' %}
{% block content %}
{{ scan_session }}
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="input_method" id="repositoryRadio" value="repository" checked onclick="toggleForm()">
    <label class="form-check-label" for="repositoryRadio">Using GitHub Repository</label>
</div>
<form id="repositoryForm" action="{% url 'analyze' scan_session=scan_session %}" method="POST">
    {% csrf_token %}
    <div id="repositoryInput" class="form-group">
        <input type="text" class="form-control" name="repository_url" id="repositoryUrlInput" placeholder="Enter GitHub repository URL" required>
        <input type="submit" class="btn btn-primary" name="submit" id="generateReportBtn" value="Validate" disabled>
        <input type="hidden" name="input_method" value="repository">
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const repositoryUrlInput = document.getElementById('repositoryUrlInput');
    const generateReportBtn = document.getElementById('generateReportBtn');
    let isFormSubmitted = false;
    repositoryUrlInput.addEventListener('input', function() {
        const isValidUrl = validateRepositoryUrl(repositoryUrlInput.value);
        generateReportBtn.disabled = !isValidUrl;
        generateReportBtn.value = isValidUrl ? 'Validate' : 'Generate Report';
    });
    function validateRepositoryUrl(url) {
        const regex = /^(https?:\/\/)?(www\.)?github\.com\/[^\s\/]+\/[^\s\/]+$/;
        return regex.test(url);
    }
    $('#repositoryForm').on('submit', function(e) {
        if (!isFormSubmitted) {
            e.preventDefault();
            const repositoryUrl = repositoryUrlInput.value;
            checkRepositoryExists(repositoryUrl);
        } else {
            isFormSubmitted = false;
        }
    });
    function checkRepositoryExists(repositoryUrl) {
        const strippedUrl = repositoryUrl.replace(/^(https?:\/\/)?(www\.)?github\.com\//, '');
        const apiUrl = `https://api.github.com/repos/${strippedUrl}`;
        $.ajax({
            url: apiUrl,
            type: 'GET',
            success: function(response) {
                console.log('Repository exists:', repositoryUrl);
                generateReportBtn.disabled = false;
                generateReportBtn.value = 'Generate Report';
                $('#repositoryForm').submit();
                isFormSubmitted = true;
            },
            error: function(xhr, status, error) {
                console.log('Repository does not exist:', repositoryUrl);
                generateReportBtn.value = 'Validate';
                alert('The repository does not exist.');
            }
        });
    }
</script>
{% endblock %}